body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.back-btn {
    text-decoration: none;
    font-size: 24px;
    color: black;
    position: absolute;
    left: 20px;
    top: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.event-info {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 20px;
}

.left, .right {
    width: 45%;
}

.register-btn {
    background-color: #7d4aff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #6235c1;
}

#event-poster {
    width: 100%;
    max-height: 320px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
